@charset "UTF-8";

/* sec_ttl
--------------------------------*/
.sec_ttl_bg::after{
	background-image: url(../img/academics/ttl_bg.jpg);
}
.sec_ttl_bg.confection::after{
	background-image: url(../img/academics/confection/ttl_bg.jpg);
}
.sec_ttl_bg.confection_s::after{
	background-image: url(../img/academics/confection_s/ttl_bg.jpg);
}
.sec_ttl_bg.bakery::after{
	background-image: url(../img/academics/bakery/ttl_bg.jpg);
}
.sec_ttl_bg.select::after{
	background-image: url(../img/academics/select/ttl_bg.jpg);
}
.sec_ttl_bg.shop::after{
	background-image: url(../img/academics/shop/ttl_bg.jpg);
}


/*.sec_ttl_bg.stylist::after{
	background-image: url(../img/academics/stylist/ttl_bg.jpg);
}
.sec_ttl_bg.fashionbusiness::after{
	background-image: url(../img/academics/business/ttl_bg.jpg);
}
.sec_ttl_bg.fashiondesign_s::after{
	background-image: url(../img/academics/fashiondesign_s/ttl_bg.jpg);
}
.sec_ttl_bg.fashiontechnical_s::after{
	background-image: url(../img/academics/fashiontechnical_s/ttl_bg.jpg);
}
.sec_ttl_bg.merchandising::after{
	background-image: url(../img/academics/merchandising/ttl_bg.jpg);
}*/
.sec_ttl_bg.collaboration::before{
	background: rgba(0,0,0,0.25);
}
.sec_ttl_bg.fashiondesign::before{
	/*background: rgba(255,5,58,0.5);*/
}
.sec_ttl_bg.fashiontechnical::before{
	background: rgba(233,76,43,.5);
}
.sec_ttl_bg.stylist::before{
	background: rgba(42,111,230,.5);
}
.sec_ttl_bg.fashionbusiness::before{
	background: rgba(0,189,230,.5);
}

/* list
--------------------------------*/
.sec_list .ttl_line{
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	position: relative;
	padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec_list .ttl_line_small{
	font-size: 1.8rem;
	font-weight: 700;
}
.sec_list .ttl_line::before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 2px;
	background: #F5A200;
}
.sec_list .ttl_line.design::before{
	background: #F5A200;
}
.sec_list .ttl_line.technical::before{
	background: #F5A200;
}
.sec_list .ttl_line.stylist::before{
	background: #F5A200;
}
.sec_list .ttl_line.business::before{
	background: #00BDE6;
}
.sec_list .ttl_line span{
	display: inline-block;
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 0 0.5em;
}
.sec_list .list .img{
	margin-top: 25px;
}
.sec_list .list .txt{
	line-height: 1.5;
	text-align: left;
	margin-top: 20px;
}
section.sec_list.section > div > ul > li:nth-child(1) > p.txt{
	height: 100%;
	max-height: 120px;
}
.sec_list .recommend_box {
	background-color: #f7f7f7;
	margin-top: 20px;
	padding: 20px 0;
}
.sec_list .recommend_box .recommend_ttl {
	font-size: 2.4rem;
	text-align: center;
}
.sec_list .recommend_box .recommend_txt {
	font-size: 1.4rem;
	line-height: 1.6;
	padding-left:30px;
}
.sec_list .list .btn{
	margin-top: 20px;
}
.sec_list .list .btn_type1{
	height: 60px;
}
@media screen and (max-width: 767px) {
	.sec_list:not(:last-child){
		padding-bottom: 11%;
	}
	.sec_list .ttl_sec_sub{
		margin-bottom: 5vw;
	}
	.sec_list .grid2 .txt{
		margin-top: 5%;
		line-height: 1.58;
	}
	.sec_list .ttl_line{
		font-size: 4.8vw;
		padding: 0 1em;
	}
	.sec_list .ttl_line_small{
		font-size: 4.2vw;
	}
	.sec_list .ttl_line::before{
		height: 1px;
	}
	.sec_list .ttl_line span{
		display: inline-block;
		background: #fff;
		position: relative;
		z-index: 1;
		padding: 0 0.5em;
	}
	.sec_list .list .img{
		margin-top: 5%;
	}
	.sec_list .list .txt{
		margin-top: 4%;
	}
	section.sec_list.section > div > ul > li:nth-child(1) > p.txt{
		min-height: 16.5%;
	}
	.sec_list .list .btn{
		margin-top: 4%;
	}
	.sec_list .list .btn_type1{
		height: 12vw;
	}
	.sec_list .box{
		max-width: 100%;
	}
	.sec_list .box .ttl_line{
		margin-top: 23%;
	}
	.sec_list .box .grid2{
		margin-top: 4%;
	}
}

/* search
--------------------------------*/
.sec_search .list{
	margin-top: 70px;
}
.sec_search .list .ttl_gray{
	font-size: 2rem;
	line-height: 1.5;
	text-align: center;
	font-weight: 700;
	background: #E5E5E5;
	padding: 15px 10px;
}
.sec_search .list .txt{
	line-height: 1.5;
	margin-top: 20px;
}
.sec_search .arw{
	position: relative;
	width: 145px;
	height: 75px;
	margin: 75px auto 0;
}
.sec_search .arw::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border: 75px solid transparent;
	border-top: 75px solid #F5A200;
}
.sec_search .rcm{
	font-size: 2.2rem;
	line-height: 1.8;
	text-align: center;
	margin-top: 40px;
}
.sec_search .rcm .big{
	font-size: 3rem;
	font-weight: 700;
}
.sec_search .list_btn{
	margin-top: 30px;
}
.sec_search .list_btn+.btn{
	margin-top: 40px;
}
.sec_search .btn_type1,
.sec_search .btn_type2{
	font-size: 2.2rem;
	line-height: 1.36;
	height: 90px;
}
@media screen and (max-width: 960px) and (min-width: 768px) {
	.list_btn{
		display: block;
	}
	.list_btn li{
		width: 100%;
		margin: 0 auto;
	}
	.list_btn li+li{
		margin: 3% auto 0!important;
	}
}
@media screen and (max-width: 767px) {
	.sec_search .list{
		border-top: 1px solid #A2A2A2;
		margin-top: 12%;
		padding-top: 12%;
	}
	.sec_search .ttl_sec_sub+.list{
		margin-top: 0;
		border-top: 0;
		padding-top: 0;
	}
	.sec_search .list .img{
		margin-top: 0;
	}
	.sec_search .list .txt{
		margin-top: 4%;
	}
	.sec_search .list .btn{
		margin-top: 4%;
	}
	.sec_search .list .btn_type1{
		height: 12vw;
	}
	.sec_search .box{
		max-width: 100%;
	}
	.sec_search .box .ttl_line{
		margin-top: 23%;
	}
	.sec_search .box .grid2{
		margin-top: 4%;
	}
	.sec_search .arw{
		width: 20vw;
		height: 10vw;
		margin: 9% auto 0;
	}
	.sec_search .arw::before{
		border-width: 10vw;
		border-top-width: 10vw;
	}
	.sec_search .rcm{
		font-size: 4.2vw;
		line-height: 1.4;
		margin-top: 9%;
	}
	.sec_search .rcm .big{
		font-size: 5.3vw;
	}
	.sec_search .list_btn{
		margin-top: 6%;
	}
	.sec_search .list_btn .btn+.btn{
		margin-top: 6%;
	}
	.sec_search .list_btn+.btn{
		border-top: 1px solid #A2A2A2;
		margin-top: 12%;
		padding-top: 12%;
	}
	.sec_search .btn_type1,
	.sec_search .btn_type2{
		font-size: 3.7vw;
		line-height: 1.4;
		height: 17.6vw;
	}
}


/* shikaku
--------------------------------*/
.sec_shikaku {
	background-color: #FFF8DE;
}
.sec_shikaku .txt{
	text-align: center;
}
.sec_shikaku .btn{
	margin-top: 30px;
}
@media screen and (max-width: 767px) {
	.sec_shikaku .txt{
		text-align: left;
	}
	.sec_shikaku .btn{
		margin-top: 6%;
	}
}


/* check
--------------------------------*/
.sec_check .txt{
	text-align: center;
}
.sec_check .btn{
	margin-top: 30px;
}
@media screen and (max-width: 767px) {
	.sec_check .txt{
		text-align: left;
	}
	.sec_check .btn{
		margin-top: 6%;
	}
}

/* oc
--------------------------------*/
.sec_oc .list .img{
	position: relative;
	width: 96%;
}
.sec_oc .list .img::before{
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
	height: 100%;
	border: 3px solid #F5A200;
}
.sec_oc .list .img img{
	position: relative;
	z-index: 1;
}
.sec_oc .list .ttl{
	line-height: 1.05;
	text-align: center;
	font-weight: 700;
	margin-top: 30px;
}
@media screen and (min-width: 768px) {
	.sec_oc .list{
		display: flex;
		margin: 0 auto;
		max-width: 600px;
	}
	.sec_oc .btn{
		margin-top: 30px;
	}
	.sec_oc .list li{
		width: 250px;
		margin: 0 25px;
	}
}
@media screen and (max-width: 767px) {
	.sec_oc .btn{
		margin-top: 4%;
	}
	.sec_oc .list .img{
		width: 96%;
	}
	.sec_oc .list .img::before{
		left: 2vw;
		top: 2vw;
		border-width: 2px;
	}
	.sec_oc .list .ttl{
		line-height: 1.5;
		margin-top: 9%;
	}
}

/* sec_ttl
--------------------------------*/
.sec_ttl .caption {
	font-size: 2.6rem;
	font-weight: bold;
	color: #fff;
	position: relative;
	z-index: 2;
}
@media screen and (max-width: 767px) {
	.sec_ttl .caption {
		font-size: 3.5vw;
		padding-bottom: 2%;
	}
}

/* ttl_page
--------------------------------*/
@media screen and (max-width: 767px) {
	.ttl_page.small {
		font-size: 6vw;
	}
}

/* collaboration
--------------------------------*/
.sec_collaboration .ttl_28 {
	padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
	.sec_collaboration .ttl_28 {
		font-size: 4vw;
		line-height: 1.8;
	}
	.sec_collaboration .img {
		margin-bottom: 4.8vw;
	}
}

/* confection
--------------------------------*/
.sec_confection .clm {
	margin-bottom: 70px;
}
.sec_confection .clm:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
.sec_confection .clm h4 {
	text-align: center;
	font-size: 2.8rem;
	line-height: 1.4;
	font-weight: bold;
	padding-bottom: 30px;
}
.sec_confection .clm .grid2 .works_box {
	margin-top: 35px;
	background-color: #f7f7f7;
	padding: 25px 20px;
}
.sec_confection .clm .grid2 .works_box .ttl {
	font-size: 2.2rem;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;
}
.sec_confection .clm .grid2 .works_box .detail {
	font-size: 1.3rem;
}
.sec_confection .clm .link_box a .img img {
	width: 100%;
}
.sec_confection .clm .link_box a {
	display: block;
}
.sec_confection .clm .link_box a .txt {
	height: 92px;
	background-color: #191919;
	color: #fff;
	font-size: 2.2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 112px;
	position: relative;
}
.sec_confection .clm .link_box a .txt::before {
	content: '';
	width: 92px;
	height: 100%;
	min-height: 92px;
	background-color: #F5A200;
	position: absolute;
	right: 0;
	top: 0;
}
.sec_confection .clm .link_box a .txt::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 30px;
	width: 32px;
	height: 9px;
	border-bottom: 2px solid #191919;
	border-right: 2px solid #191919;
	transform: skew(45deg) translateY(-50%);
}
@media screen and (min-width: 768px) {
	.sec_confection .clm .link_box {
		width: 50%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
	.sec_confection .clm {
		margin-bottom: 12%;
	}
	.sec_confection .clm h4 {
		font-size: 4vw;
		line-height: 1.625;
		padding-bottom: 5%;
	}
	.sec_confection .clm .img {
		margin-bottom: 6%;
	}
	.sec_confection .clm .grid2 .works_box {
		padding: 6%;
		margin-top: 10%;
	}
	.sec_confection .clm .grid2 .works_box .ttl {
		font-size: 5vw;
		padding-bottom: 5%;
	}
	.sec_confection .clm .grid2 .works_box .detail {
		font-size: 3.2vw;
	}
	.sec_confection .clm .link_box a .img {
		margin-bottom: 0;
	}
	.sec_confection .clm .link_box a .txt {
		font-size: 3.5vw;
		min-height: auto;
		height: 13vw;
		padding: 5% 20% 5% 5%;
	}
	.sec_confection .clm .link_box a .txt::before {
		width: 13vw;
		height: 13vw;
		min-height: auto;
	}
	.sec_confection .clm .link_box a .txt::after {
		right: 5%;
		width: 5vw;
		height: 1.5vw;
	}
}

/* confection_voice
--------------------------------*/
.sec_confection_voice h4 {
	font-size: 2.8rem;
	line-height: 1.4;
	font-weight: bold;
	text-align: center;
	padding-bottom: 26px;
}
.sec_confection_voice .img {
	text-align: center;
	margin-bottom: 20px;
}
.sec_confection_voice .name {
	font-size: 2.4rem;
	font-weight: bold;
	padding-bottom: 25px;
	text-align: center;
}
@media screen and (max-width: 767px) {
	.sec_confection_voice h4 {
		font-size: 4vw;
		line-height: 1.625;
		text-align: center;
		padding-bottom: 5%;
	}
	.sec_confection_voice .img {
		margin-bottom: 6%;
	}
	.sec_confection_voice .name {
		font-size: 3.8vw;
		text-align: left;
		padding-bottom: 0;
	}
}

/* confection_course
--------------------------------*/
.sec_confection_course .list .ttl {
	font-size: 2.0rem;
	font-weight: bold;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #e5e5e5;
}
@media screen and (max-width: 767px) {
	.sec_confection_course .list .ttl {
		font-size: 4vw;
		padding: 3%;
		margin-bottom: 6%;
	}
}

/* confection_timetable
--------------------------------*/
.sec_confection_timetable .clm {
	margin-bottom: 60px;
}
.sec_confection_timetable .clm:last-child {
	margin-bottom: 0;
}
.sec_confection_timetable .clm h4 {
	font-size: 2.8rem;
	font-weight: bold;
	padding-bottom: 25px;
	text-align: center;
}
.sec_confection_timetable .clm .txt {
	padding-bottom: 35px;
}
.sec_confection_timetable .clm .table_type1 table {
	border: none;
}
.sec_confection_timetable .clm .table_type1 table th,
.sec_confection_timetable .clm .table_type1 table td {
	font-size: 1.4rem;
	padding: 20px 10px;
}
.sec_confection_timetable .clm .table_type1 table thead .none,
.sec_confection_timetable .clm .table_type1 table tbody th {
	 width: 65px;
}
.sec_confection_timetable .clm .table_type1 table tbody th,
.sec_confection_timetable .clm .table_type1 table tbody td {
	text-align: center;
	vertical-align: middle;
}
.sec_confection_timetable .clm .table_type1 table thead th {
	background-color: #F5A200;
}
.sec_confection_timetable .clm .table_type1 table thead .none {
	background-color: #fff;
	border-top: none;
	border-left: none;
}
@media screen and (max-width: 767px) {
	.sec_confection_timetable .clm {
		margin-bottom: 12%;
	}
	.sec_confection_timetable .clm h4 {
		font-size: 4vw;
		line-height: 1.625;
		padding-bottom: 5%;
	}
	.sec_confection_timetable .clm .txt {
		text-align: left;
		padding-bottom: 13%;
	}
	.sec_confection_timetable .clm .table_type1 {
		padding-bottom: 15px;
	}
	.sec_confection_timetable .clm .table_type1 table {
		width: 700px;
	}
	.sec_confection_timetable .clm .table_type1 table thead .none,
	.sec_confection_timetable .clm .table_type1 table tbody th {
		width: 8vw;
	}
	.sec_confection_timetable .clm .table_type1 table th,
	.sec_confection_timetable .clm .table_type1 table td {
		font-size: 3.2vw;
		padding: 2%;
	}
}

/* confection_more
--------------------------------*/
.sec_confection_more .txt {
	text-align: center;
	padding-bottom: 15px;
}
.sec_confection_more .list .img {
	margin-bottom: 20px;
}
.sec_confection_more .list .ttl {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 12px;
}
.sec_confection_more .list .btn_type1 {
	height: 60px;
}
@media screen and (max-width: 767px) {
	.sec_confection_more .txt {
		text-align: left;
		padding-bottom: 7%;
	}
	.sec_confection_more .list .img {
		margin-bottom: 5%;
	}
	.sec_confection_more .list .ttl {
		font-size: 4vw;
		padding-bottom: 5%;
	}
	.sec_confection_more .list {
		display: flex;
		flex-wrap: wrap;
	}
	.sec_confection_more .list .btn_type1 {
		height: 12vw;
	}
}

/* confection_opencampus
--------------------------------*/
.sec_confection_opencampus .other_link {
	max-width: 560px;
	margin: 0 auto 40px;
}
.sec_confection_opencampus .list li {
    max-width: 250px;
}
.sec_confection_opencampus .list li a {
    display: block;
}
.sec_confection_opencampus .list .img {
    position: relative;
    width: 96%;
}
.sec_confection_opencampus .list .img::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid #F5A200 ;
}
.sec_confection_opencampus .list .img img {
    position: relative;
    z-index: 1;
}
.sec_confection_opencampus .list p {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1;
	text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
	.sec_confection_opencampus .other_link {
		max-width: inherit;
		margin-bottom: 5%;
	}
	.sec_confection_opencampus .list li {
		max-width: inherit;
	}
	.sec_confection_opencampus .list p {
		font-size: 3.2vw;
    	line-height: 1.5;
		margin-top: 8%;
	}

}

/* confection_link
--------------------------------*/
@media screen and (max-width: 767px) {
	.sec_confection_link .list li {
		margin-bottom: 6%;
	}
	.sec_confection_link .list li:last-child {
		margin-bottom: 0;
	}
}



/* confection
--------------------------------*/
.sec_confection.section > div > section > div.grid1 > div > p {
	text-align: center;
}
.sec_confection.section > div > section > div > div > p {
	text-align: left;
}
.sec_confection_voice.section > div > div > p.txt {
	width: 100%;
	max-width: 520px;
	margin: 0 auto;
}
.sec_confection_voice.section > div > div.ob_voice02 {
	margin-top: 55px;
}
.sec_confection_timetable.section > div > section > div.caseA {
	margin-bottom: 80px;
	padding-bottom: 8px;
	position: relative;
}
.sec_confection_timetable.section > div > section > div.caseA > span.subttl{
	width: 180px;
	background-color: #fff;
	border: 3px solid #EDEDED;
	border-radius: 20px;
	font-size: 1.6rem;
	text-align: center;
	margin: auto;
	padding: 10px 15px;
	position: absolute;
	top: -24px;
	right: 0;
	left: 0;
	z-index: 10;
}
.sec_confection_timetable.section > div > section > div.caseA > p.ttl{
	background-color: #EDEDED;
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding: 10px 0 5px;
	position: absolute;
	right: 0;
	left: 0;
}
.sec_confection_timetable.section > div > section > p.txt {
	margin-bottom: 40px;
}
table_type1 .orange{
	background-color: #f5a200;
}
table_type1 .yellow-light{
	background-color: #ffe8ba;
}
div.table_type1.spscroll > table > tbody > tr > td > div.pink {
	background-color: #ffcccc;
}
div.table_type1.spscroll > table > tbody > tr > td > div.yellow {
	background-color: #fff577;
}
div.table_type1.spscroll > table > tbody > tr > td > div.lightgreen {
	color: #191919;
	background-color: #d3ff6f;
}
div.table_type1.spscroll > table > tbody > tr > td > div.center {
	text-align: center;
}
div.table_type1.spscroll > table > tbody > tr > td > div.p-td {
	padding: 5px 10px;
}
div.table_type1.spscroll > table > tbody > tr > td > th.wd-4 {
	width: 20%
}
.color_guide {
	text-align: right;
	margin-top: 10px;
}
@media screen and (max-width: 576px){
	.color_guide {
		text-align: center;
		padding-left: 0!important;
	}
}
.color_guide span.guide_pink,
.color_guide span.guide_yellow,
.color_guide span.guide_lightgreen {
	font-size: 1.4rem !important;
	font-weight: normal;
	padding-bottom: 5px;
	position: relative;
	padding-left: 53px;
}
.color_guide span.guide_pink,
.color_guide span.guide_yellow {
	margin-right: 10px;
}
.color_guide span.guide_pink::before,
.color_guide span.guide_yellow::before,
.color_guide span.guide_lightgreen::before {
	background: #ffcccc;
	content: '';
	height: 11px;
	width: 45px;
	left: 0;
	position: absolute;
	top: 2px;
}
.color_guide span.guide_pink::before {
	background: #ffcccc;
}
.color_guide span.guide_yellow::before {
	background: #fff577;
}
.color_guide span.guide_lightgreen::before {
	background: #d3ff6f;
}
.caseA_info {
	margin-top: 20px;
}
ul.list.remedial.grid2.grid2_mtx2.sp_grid1 > li {
	margin: 0 auto;
}
p.select_info {
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	border-top: 2px solid #afafaf;
	margin: 50px 0;
	padding: 43px 0 0;
}

@media screen and (max-width: 767px) {
	.sec_confection.section > div > section > div > div > p.txt {
		text-align: left;
	}
	.sec_confection_voice.section > div > div > p.txt {
		margin-top: 4%;
	}
	.sec_confection_timetable.section > div > section > div.caseA > p.ttl {
		font-size: 2rem;
		
	}
	.color_guide span.guide_pink,
	.color_guide span.guide_yellow,
	.color_guide span.guide_lightgreen {
		font-size: 2.3vw !important;
		padding-left: 10vw;
	}
p.select_info {
	font-size: 4.6vw;
}

}


/* shop
--------------------------------*/
.txt.five_step {
	text-align: center;
}
.ttl_sub {
	text-align: center;
	font-size: 2.8rem;
	line-height: 1.4;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 20px;
}
.txt.needs {
	text-align: center;
}
.pt0 {
	padding-top: 0 !important;
}
.pb60 {
	padding-bottomt: 60px !important;
}
.sec_shop.section.pt0.pb60 > div > section > h4 {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
.shop > .wrap.w1080 {
	overflow: hidden;
}
.shop .img {
	margin-right: 20px;
}
.shop .img,
.shop p.txt {
	float: left;
}
.shop p.txt {
	width: 520px;
	line-height: 1.73;
}
.shop.section > div > div.recommend_box {
	width: 520px;
	background-color: #f7f7f7;
	margin-top: 20px;
	padding: 20px 0;
	float: left;
}
.shop.section > div > div.recommend_box > p.recommend_ttl {
	font-size: 2.4rem;
	text-align: center;
}
.shop.section > div > div.recommend_box > p.recommend_txt {
	font-size: 1.4rem;
	line-height: 1.6;
	padding-left: 30px;
}
.shop.section > div > p.btn.tac > a {
	margin-top: 60px;
}

@media screen and (max-width: 767px) {
	.txt.five_step,
	.txt.needs {
		text-align: left;
	}
	.ttl_sub {
		font-size: 4vw;
	}
	.sec_shop.section.pt0.pb60 > div > section > h4 {
		font-size: 4vw;
	}
	.sec_department_learn.section.pt0.pb60 > div > section > h4 {
		font-size: 4vw;
		font-weight: bold;
		text-align: center;
		padding: 10vw 0 5vw;
	}
	.sec_shop.section.pt0.pb60 > div > section > div > div.txt_box > p {
		margin-top: 3vw;
	}
	.sec_department_learn.section.pt0.pb60 > div > section > div > div.txt_box > p {
		margin-top: 3vw;
	}
	.shop.section > div > div.recommend_box {
		width: 100%;
	}
	.shop.section > div > div.recommend_box > p.recommend_txt {
		padding-top: 20px;
		padding-left: 10px;
	}
}


/* academics
--------------------------------*/
.patisserie_oda.section > div {
	overflow: hidden;
}
.patisserie_oda.section > div > div.img {
	width: 100%;
	max-width: 520px;
	float: left;
}
.patisserie_oda.section > div > p.txt {
	width: 100%;
	max-width: 500px;
	line-height: 1.7;
	margin-bottom: 1s0px;
	float: left;
}
.patisserie_oda.section > div > div.recommend_box {
	width: 100%;
	max-width: 500px;
	background-color: #f7f7f7;
	margin-top: 20px;
	padding: 20px 0;
	float: left;
}
.patisserie_oda.section > div > div.recommend_box > p.recommend_ttl {
	font-size: 2.4rem;
	text-align: center;
}
.patisserie_oda.section > div > div.recommend_box > p.recommend_txt {
	font-size: 1.4rem;
	line-height: 1.6;
	padding-left: 30px;
}
.patisserie_oda.section > div > p.btn.tac > a {
	margin-top: 40px;
}

@media screen and (max-width: 1123px) and (min-width: 768px) {
	.patisserie_oda.section > div > div.img,
	.patisserie_oda.section > div > p.txt,
	.patisserie_oda.section > div > div.recommend_box {
		margin: 0 auto 20px;
		float: none;
	}
}

@media screen and (max-width: 767px) {
	.patisserie_oda.section > div > p.txt {
		margin-top: 2vw;
	}
	.patisserie_oda.section > div > div.recommend_box > p.recommend_ttl {
		font-size: 5vw;
	}
	.patisserie_oda.section > div > div.recommend_box > p.recommend_txt {
		margin-top: 2vw;
		padding-left: 2vw;
	}
	.sec_department_opencampus.section > div > div.other_link > ul {
		margin-bottom: 10vw;
	}
	.sec_department_opencampus.section > div > div.other_link > ul > li > a > p {
		text-align: center;
	}
}

.sec_department_learn .clm > h4 {
	font-size: 2.8rem;
    text-align: center;
    margin-bottom: 20px;
	margin-top: 40px;
}
@media screen and (max-width: 767px) {
	.sec_confection_course .select_info {
		text-align: left;
	}
	.color_guide span {
		padding-left: 11vw !important;
	}
	.color_guide span::before {
		height: 6px !important;
    	width: 30px !important;
	}
	.sec_list ul.list div.img+p, .patisserie_oda ul.list div.img+p {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.sec_list .recommend_box .recommend_ttl {
		font-size: 1.8rem;
	}
	.sec_list .recommend_box .recommend_txt {
		padding-left: 10px;
	}
	.sec_list ul.list li p.txt {
		text-align: center !important;
	}
	.sec_list ul.list li .recommend_ttl {
		margin-bottom: 2vw;
		font-size: 2rem;
	}
	.sec_list ul.list li .recommend_txt {
		font-size: 1.2rem;
		line-height: 1.6;
    	padding-left: 3vw;
	}
	.sec_list .ttl_line {
		font-size: 4.5vw;
	}
	.btn_type1 {
		font-size: 3.5vw !important;
	}
}
@media screen and (max-width: 576px){
	.color_guide span {
		padding-left: 35px!important;
	}
}
.table_type1::-webkit-scrollbar-thumb {
	background: #F5A200;
}
.table_type1::-webkit-scrollbar {
	height: 3px;
}
.sec_list .recommend_txt span, .patisserie_oda .recommend_txt span {
	/*color: #F5A200;*/
} 

.sec_list .recommend_box .recommend_txt span{
	position: relative;
	padding-left: 15px!important;
}
.sec_list .recommend_box .recommend_txt span::before{
	content: '';
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F5A200;
}
@media screen and (max-width: 769px) and (min-width: 768px) {
	.table_type1.spscroll {
		overflow-x: scroll;
    	position: relative;
	}
	.sec_confection_timetable .clm .table_type1 {
		padding-bottom: 15px;
	}
	.sec_confection_timetable .clm .table_type1 table {
		width: 730px;
	}
} 

@media screen and (min-width: 768px) {
	.sec_list ul.list h4.ttl_line {
		font-size: 2.5rem !important;
	}
} 
