@charset "UTF-8";

/* sec_ttl
--------------------------------*/
.sec_ttl_bg.employment::after{
	background-image: url(../img/career/ttl_bg.jpg);
}
.sec_ttl_bg.support::after{
	background-image: url(../img/career/guidance/ttl_bg.jpg);
}
.sec_ttl_bg.list::after{
	background-image: url(../img/career/data/ttl_bg.jpg);
}
.sec_ttl_bg.qualification::after{
	background-image: url(../img/career/qualification/ttl_bg.jpg);
}
.sec_ttl_bg.intern::after{
	background-image: url(../img/career/intern/ttl_bg.jpg);
}
.sec_ttl_bg.voice::after{
	background-image: url(../img/career/graduate/ttl_bg.jpg);
}

/* point_list
--------------------------------*/
.point_list li {
	position: relative;
	padding-left: 16px;
	margin-top: 10px;
}
.point_list li::before {
	content: '';
	width: 8px;
	height: 8px;
	margin-right: 8px;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #F5A200;
}
@media screen and (max-width: 767px) {
	.point_list li {
		margin-top: 2%;
		padding-left: 4%;
	}
	.point_list li::before {
		width: 1.6vw;
		height: 1.6vw;
		border-radius: 0.8vw;
	}
}

/* employment
--------------------------------*/

@media screen and (min-width: 992px) {
	.sec_ttl.sec_ttl_bg.sweetslicense img.cut_img {
		display: none;
	}
}
.sec_employment.sweetslicense .list li {
	border: none!important;
}
.sec_employment.sweetslicense .list li.sweetslicense-img {
	text-align: center;
}
.sec_employment.sweetslicense .list li.card {
	border: solid 6px #F5A200!important;
	padding: 15px;
	margin: 10px auto!important;
}
.sec_employment.sweetslicense h3.ttl_sec_sub{
	margin-top: 30px;
    font-size: 3.3rem;
}
.sec_employment.sweetslicense .list li.card .ttl_sec_sub{
	margin-bottom: 30px;
}
.sec_employment.sweetslicense .list li.card h4.ttl_sec_sub{
	text-align: left!important;
	margin: 30px 0!important;
    font-size: 2.6rem;
}

@media screen and (max-width: 576px){
	.sec_employment.sweetslicense .list li.card h4.ttl_sec_sub{
		margin: 10px 0!important;
	}
}

.sec_employment.sweetslicense .list li.card .list-item{
	position: relative;
    padding-left: 15px;
}
.sec_employment.sweetslicense .list li.card .list-item::before{
	content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    top: 1em;
    left: .3em;
    margin: -4px 0 0 -3px;
    background-color: #F5A200;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.sec_employment .list {
	margin: 40px 0;
}
.sec_employment .list li {
	border: solid 5px #FFE8BA;
}
.sec_employment .list .ttl{
	font-size: 2.2rem;
	text-align: center;
	font-weight: 700;
	padding: 5px 0;
	background-color: #FFE8BA;
}
.sec_employment .list .percent {
	text-align: center;
	font-size: 6.0rem;
	font-weight: bold;
	padding: 25px 0 5px;
	line-height: 1;
}
.sec_employment .list .percent span {
	font-size: 3.0rem;
}
.sec_employment .list .percent_sub {
	font-size: 1.4rem;
	text-align: center;
}
.sec_employment .list li.large {
	width: 100%;
	margin-right: 0;
	max-width: none;
}
.sec_employment .list li.large .img {
	text-align: center;
	padding: 0 0 20px;
}
.sec_employment .link_list {
	padding-top: 130px;
}
.sec_employment .link_list a {
	display: block;
}
.sec_employment .link_list a .img img {
	width: 100%;
}
.sec_employment .link_list a .txt {
	height: 92px;
	background-color: #191919;
	color: #fff;
	font-size: 2.2rem;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 112px;
	position: relative;
}
.sec_employment .link_list a .txt::before {
	content: '';
	width: 92px;
	height: 100%;
	min-height: 92px;
	background-color: #F5A200;
	position: absolute;
	right: 0;
	top: 0;
}
.sec_employment .link_list a .txt::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 30px;
	width: 32px;
	height: 9px;
	border-bottom: 2px solid #191919;
	border-right: 2px solid #191919;
	transform: skew(45deg) translateY(-50%);
}
@media screen and (max-width: 767px) {
	.sec_employment .list {
		margin: 10% 0;
	}
	.sec_employment .list li:nth-child(n+2) {
		margin-top: 5%;
	}
	.sec_employment .list .ttl{
		font-size: 5vw;
	}
	.sec_employment .list .percent {
		font-size: 10vw;
		padding: 5% 0;
	}
	.sec_employment .list .percent span {
		font-size: 5vw;
	}
	.sec_employment .list li.large {
		padding: ;
	}
	.sec_employment .list li.large .img {
		padding: 5%;
	}
	.sec_employment .link_list {
		padding-top: 23%;
	}
	.sec_employment .link_list a .txt {
		font-size: 3.5vw;
		height: auto;
		height: 13vw;
		padding: 5% 20% 5% 5%;
	}
	.sec_employment .link_list a .txt::before {
		width: 13vw;
		height: 13vw;
		min-height: auto;
	}
	.sec_employment .link_list a .txt::after {
		right: 5%;
		width: 5vw;
		height: 1.5vw;
	}
}

/* voice_btn
--------------------------------*/
.voice_btn .list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
}
.voice_btn .list li {
	width: 32.13%;
	margin-right: 1.8%;
	margin-bottom: 1.8%;
}
.voice_btn .list li:nth-child(3) {
	margin-right: 0;
}
.voice_btn .list li a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	background-color: #F5A200;
	position: relative;
	height: 65px;
	text-align: center;
}
.voice_btn .list li a::after {
	content: '';
	width: 7px;
	height: 14px;
	background: url(../img/common/icon_anchor.svg) no-repeat center /contain;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translateY(-50%);
}
@media screen and (max-width: 920px) {
	.voice_btn .list li a {
		font-size: 1.3rem;
	}
}
@media screen and (max-width: 767px) {
	.voice_btn .list {
		margin-top: 8%;
	}
	.voice_btn .list li {
		width: 100%;
		margin-top: 3%;
		margin-right: 0;
	}
	/*.voice_btn .list li:nth-child(n+3) {
		margin-top: 3%;
	}
	.voice_btn .list li:nth-child(5n) {
		margin-right: 5.4%;
	}*/
	.voice_btn .list li:nth-child(2n) {
		margin-right: 0;
	}
	.voice_btn .list li a {
		font-size: 3vw;
		height: 14vw;
	}
	.voice_btn .list li a::after {
		width: 4%;
	}
}

/* voice
--------------------------------*/
.sec_voice .clm {
	padding-bottom: 90px;
	margin-bottom: 55px;
	border-bottom: dotted 1px #a2a2a2;
}
.sec_voice .clm:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}
.sec_voice .clm .ttl_clm {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	padding-bottom: 20px;
}
.sec_voice .clm .img {
	text-align: center;
}
.sec_voice .clm .name {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
	padding-bottom: 5px;
}
.sec_voice .clm .info {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;

}
.sec_voice .clm .txt {
	margin-top: 15px;
}
.sec_voice .clm .txt a{
	text-decoration: underline;
	transition: opacity .4s;
}
.sec_voice .clm .txt a:hover{
	opacity: 0.7;
}
.sec_voice .clm .img p.job {
	width: 100%;
	max-width: 641px;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0 5px;
}
@media screen and (max-width: 767px) {
	.sec_voice .clm {
		padding-bottom: 23.8%;
		margin-bottom: 11.5%;
	}
	.sec_voice .clm .ttl_clm {
		font-size: 4.2vw;
		padding-bottom: 6%;
	}
	.sec_voice .clm .img p.job{
		padding-top: 4%;
		font-size: 3vw;
		padding-bottom: 2%;
	}
	.sec_voice .clm .img img{
		max-width: 100%;
		width: auto;
	}
	.sec_voice .clm .name {
		font-size: 4vw;
		padding-bottom: 2%;
	}
	.sec_voice .clm .info {
		font-size: 3vw;
		padding-bottom: 0;
	}
	.sec_voice .clm .txt {
		margin-top: 7%;
		text-align: left;
	}
}

/* support
--------------------------------*/
.sec_support .list .ttl {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
}
.sec_support .list .img {
	margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
	.sec_support .list .ttl {
		font-size: 4.5vw;
		margin-bottom: 5%;
	}
	.sec_support .list .img {
		margin-bottom: 6%;
	}
}

/* support_program
--------------------------------*/
.sec_support_program .caution {
	font-size: 1.2rem;
	color: #c50000;
	padding-bottom: 16px;
	text-align: center;
}
.sec_support_program .table_type1 table {
	border: none;
}
.sec_support_program .table_type1 table th,
.sec_support_program .table_type1 table td {
	font-size: 1.4rem;
	padding: 20px;
}
.sec_support_program .table_type1 table thead .none,
.sec_support_program .table_type1 table tbody th {
	 width: 80px;
	 padding: 20px 5px;
}
.sec_support_program .table_type1 table tbody th,
.sec_support_program .table_type1 table tbody td {
	vertical-align: middle;
}
.sec_support_program .table_type1 table thead th {
	background-color: #F5A200;
}
.sec_support_program .table_type1 table thead .none {
	background-color: #fff;
	border-top: none;
	border-left: none;
}
.sec_support_program .table_type1 table tbody td.txt {
	width: 63%;
}
@media screen and (max-width: 767px) {
	.sec_support_program .caution {
		font-size: 3.2vw;
	}
	.sec_support_program .table_type1 {
		padding-bottom: 15px;
	}
	.sec_support_program .table_type1 table {
		width: 650px;
	}
	.sec_support_program .table_type1 table thead .none,
	.sec_support_program .table_type1 table tbody th {
		width: 8.5vw;
	}
	.sec_support_program .table_type1 table th,
	.sec_support_program .table_type1 table td {
		font-size: 3.2vw;
		padding: 3%;
	}
	.sec_support_program .table_type1.spscroll {
		overflow-x: scroll;
	}
}

/* career_center
--------------------------------*/
.sec_career_center .clm {
	margin-bottom: 80px;
}
.sec_career_center .clm_detail .img {
	text-align: center;
	margin-bottom: 40px;
}
.sec_career_center .clm_detail .txt {
	text-align: center;
	padding-bottom: 25px;
}
.sec_career_center .clm_detail .txt.bold {
	font-weight: bold;
}
.sec_career_center .clm_detail .point_list {
	max-width: 640px;
	margin: 0 auto;
}
.sec_career_center .clm_alumni h4 {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px;
}
.sec_career_center .clm_alumni .txt {
	text-align: center;
	padding-bottom: 30px;
}
.sec_career_center .clm_alumni .btn_box h5 {
	font-size: 2.0rem;
	font-weight: bold;
	text-align: center;
}
.sec_career_center .clm_alumni .btn_box .list li {
	margin-top: 20px;
}
.sec_career_center .clm_alumni .btn_box .list li .tel {
	font-size: 3.3rem;
	font-weight: bold;
}
.sec_career_center .clm_alumni .btn_box .list li .tel:before {
	display: none;
}
.sec_career_center .clm_alumni .btn_box .list li .tel img {
	margin-right: 11px;
}
.sec_career_center .clm_alumni .btn_box .list li .mail img {
	margin-right: 30px;
}
.sec_career_center .clm_alumni .caution {
	text-align: center;
	color: #c50000;
	font-size: 1.2rem;
	padding-top: 40px;
}
.sec_career_center .clm_web h4 {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px;
}
.sec_career_center .clm_web .txt {
	text-align: center;
	padding-bottom: 15px;
}
.sec_career_center .clm_web .btn_box .list li {
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
	.sec_career_center .clm_detail .point_list > *:nth-child(n+3){
		margin-top: 5px;
	}
	.sec_career_center .clm_alumni .btn_box .list li.tel a{
		pointer-events: none;
	}
}
@media screen and (max-width: 767px) {
	.sec_career_center .clm {
		padding-bottom: 7.5%;
		margin-bottom: 7.5%;
	}
	.sec_career_center .clm_detail .img {
		margin-bottom: 6%;
	}
	.sec_career_center .clm_detail .txt {
		text-align: left;
		padding-bottom: 4.6%;
	}
	.sec_career_center .clm_detail .list {
		padding-top: 9%;
	}
	.sec_career_center .clm_alumni h4 {
		font-size: 4vw;
		padding-bottom: 5%;
	}
	.sec_career_center .clm_alumni .txt {
		padding-bottom: 7%;
	}
	.sec_career_center .clm_alumni .btn_box h5 {
		font-size: 3.2vw;
		padding-bottom: 5%;
	}
	.sec_career_center .clm_alumni .btn_box .list li{
		margin-top: 0;
	}
	.sec_career_center .clm_alumni .btn_box .list li+li {
		margin-top: 6%;
	}
	.sec_career_center .clm_alumni .btn_box .list li .tel {
		font-size: 4.5vw;
	}
	.sec_career_center .clm_alumni .btn_box .list li .tel img {
		width: 4.2vw;
		margin-right: 2%;
	}
	.sec_career_center .clm_alumni .btn_box .list li .mail img {
		width: 5vw;
		margin-right: 6%;
	}
	.sec_career_center .clm_alumni .caution {
		padding-top: 8%;
		font-size: 3vw;
	}
	.sec_career_center .clm_web h4 {
		font-size: 4vw;
		padding-bottom: 5%;
	}
	.sec_career_center .clm_web .txt {
		padding-bottom: 0;
	}
	.sec_career_center .clm_web .btn_box .list li {
		margin-top: 6%;
	}
}

/* list
--------------------------------*/
.sec_list .clm {
	padding-bottom: 60px;
}
.sec_list .clm:last-child {
	padding-bottom: 0;
}
.sec_list .clm h4 {
	position: relative;
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
}
.sec_list .clm h4:before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: #F5A200;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.sec_list .clm h4 span {
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 0 40px;
}

.sec_list .clm .more {
	padding-top: 40px;
}
@media screen and (max-width: 767px) {
	.sec_list .clm {
		padding-bottom: 11%;
	}
	.sec_list .clm h4 {
		font-size: 5vw;
		margin-bottom: 6%;
	}
	.sec_list .clm h4 span {
		padding: 0 20px;
	}
	.sec_list .clm .list li {
		margin-top: 2%;
		padding-left: 4%;
	}
	.sec_list .clm .list li::before {
		width: 1.6vw;
		height: 1.6vw;
		border-radius: 0.8vw;
	}
	.sec_list .clm .more {
		padding-top: 2%;
	}
}

/* qualification
--------------------------------*/
.sec_qualification .ttl_page {
	margin-bottom: 40px;
}
.sec_qualification .clm {
	padding-bottom: 100px;
}
.sec_qualification .clm:last-child {
	padding-bottom: 0	;
}
.sec_qualification .clm .lead {
	padding-bottom: 55px;
}
.sec_qualification .clm h4 {
	font-size: 2.8rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px;
}
.sec_qualification .clm .txt {
	padding-bottom: 55px;
}
.sec_qualification .clm .txt:nth-last-of-type(1) {
	padding-bottom: 0;
}
@media screen and (max-width: 767px) {
	.sec_qualification .ttl_page {
		margin-bottom: 11%;
	}
	.sec_qualification .clm {
		padding-bottom: 18%;
	}
	.sec_qualification .clm .ttl_sec_sub {
		font-size: 5.5vw;
	}
	.sec_qualification .clm .ttl_sec_sub .line span {
		font-size: 4vw
	}
	.sec_qualification .clm .lead {
		padding-bottom: 11%;
	}
	.sec_qualification .clm h4 {
		font-size: 4.5vw;
		padding-bottom: 6%;
	}
	.sec_qualification .clm .txt {
		padding-bottom: 11%;
	}
	.sec_qualification .clm .list li {
		margin-top: 6%;
	}
	.sec_qualification .clm .list li:first-child {
		margin-top: 0;
	}
}

/* intern
--------------------------------*/
.sec_intern .lead {
	padding-top: 40px;
}
.sec_intern .clm:not(:first-child) {
	padding-top: 100px;
}
@media screen and (max-width: 767px) {
	.sec_intern .lead {
		padding-top: 8%;
	}
	.sec_intern .clm:not(:first-child) {
		padding-top: 18%;
	}
	.sec_intern .clm .grid2 .img {
		margin-bottom: 6%;
	}
	.sec_intern .ttl_sec_sub {
		font-size: 6.0vw;
		margin-bottom: 8%;
	}
}

/* data
--------------------------------*/
.ttl_page span {
	font-size: 1.4rem;
	display: block;
}

@media screen and (max-width: 767px) {
	.sec_list.section {
		padding: 3% 0;
	}
}


/* guidance
--------------------------------*/
.sec_intro > div > h2 {
	font-size: 4.4rem;
}
.ttl_sub {
	font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    margin-top: 3%;
}

.sec_intro .txt {
	margin-top: 20px;
}

.sec_ob_advice .ttl_sec_sub {
    margin-bottom: 4%;
}

.sec_ob_advice .ttl_sub {
	font-size: 2.5rem;
	margin-bottom: 3%;
}

.sec_ob_advice .img {
	text-align: center;
	margin-bottom: 3%;
}

.sec_ob_advice .ob_name {
	font-size: 2.5rem;
	text-align: center;	
}

.sec_ob_advice .ob_course_etc {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;	
	line-height: 1.5;
	margin-bottom: 2%;
}
.sec_employment {
	padding-top: 40px;
}
@media screen and (max-width: 767px) {
	.sec_intro > div > h2 {
		font-size: 7.4vw;
	}
	.ttl_sub {
		font-size: 1.3rem;
		margin-top: 15%;
	}

	.sec_intro .txt {
		margin-top: 2%;
	}

	.sec_ob_advice .ttl_sec_sub {
	    margin-bottom: 0;
	}

	.sec_ob_advice .ttl_sub {
		font-size: 1.5rem;
		margin-top: 10%;
		margin-bottom: 3%;
	}

	.sec_ob_advice .ob_name {
		font-size: 1.4rem;
	}
	
	.sec_ob_advice .ob_course_etc {
		font-size: 1rem;
		margin-bottom: 4%;
	}
	.sec_list .clm:last-child {
		padding-bottom: 11%;
	}
	.sec_intro > div > .ttl_page {
		font-size: 2.8rem !important;
	}
	.sec_employment {
		padding-top: 9% !important;
	}
}
@media screen and (max-width: 576px){
	.sec_intro > div > .ttl_page {
		font-size: 2rem !important;
	}
}
.sec_employment+.sec_list {
	padding-top: 0px !important;
}
@media screen and (min-width: 768px) {
	.point_list li {
		margin-top: 5px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	.point_list li::before {
		top: .75em !important;
		transform: none !important;
	}
}