@charset "UTF-8";


.footer_navi .link li::before,
.footer_navi .link li:first-child::after{
	display: none;
}

.fixedbnr .req{
	width: 60px;
	height: 343px;
	background: #E30056;
}
.fixedbnr .req li{
	font-size: 2.8rem;
	color: #fff;
	font-weight: 700;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.fixedbnr .req .num{
	font-size: 4.6rem;
}
.fixedbnr .topbtn{
	margin-top: 272px;
}
@media screen and (min-width: 1260px) {
	.fixedbnr .req .v{
		writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		-webkit-writing-mode:vertical-rl;
	}
}
@media screen and (max-width: 1259px) {
	.fixedbnr .req{
		width: auto;
		height: 67px;
		background: #E30056;
	}
	.fixedbnr .req li{
		font-size: 1.8rem;
		width: 100%;
		height: 100%;
		flex-direction: row;
	}
	.fixedbnr .req .num{
		font-size: 3rem;
		margin-left: 0.5em;
	}
	.fixedbnr .topbtn{
		margin-top: 0;
	}
}
@media screen and (max-width: 767px) {
	.fixedbnr .req{
		height: 16vw;
	}
	.fixedbnr .req li{
		font-size: 4.8vw;
	}
	.fixedbnr .req .num{
		font-size: 8vw;
	}
}


/* form
--------------------------------*/
.sec_form .ttl_sec_sub{
	margin-bottom: 30px;
}
.sec_form .box_tel .line{
	text-align: center;
	margin: 50px 0;
}
.sec_form .box_tel .btn_tel{
	margin-top: 20px;
}
.sec_form .box_tel .btn_tel a{
	font-size: 2.8rem;
	font-weight: 700;
	padding-right: 0.5em;
	width: 520px;
	max-width: 100%;
	height: 82px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 50px;
	position: relative;
	border: 1px solid #C3C3C3;
	transition: background .4s;
	pointer-events: none;
}
.sec_form .box_tel .btn_tel img{
	margin: -0.1em 0.3em 0 0;
	vertical-align: middle;
}
.sec_form .box_tel .time{
	font-size: 1.8rem;
	line-height: 1.6;
	letter-spacing: .1em;
	text-align: center;
	margin-top: 24px;
}
.sec_form .box_tel .time .red{
	color: #C50000;
}
.sec_form .box_form .flow{
	display: flex;
	justify-content: space-between;
}
.sec_form .box_form .flow .step{
	font-size: 1.6rem;
	font-weight: 700;
	text-align: center;
	color: #191919;
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	background: #FFE8BA;
	display: inline-block;
	padding: 0 15px;
	border-radius: 20px;
}
.sec_form .box_form .flow .step::before{
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	border: 5px solid transparent;
	border-top: 5px solid #FFE8BA;
}
.sec_form .box_form .flow li{
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	flex: 1;
	padding-top: 5px;
	height: 76px;
	background: #C6C6C6;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec_form .box_form .flow li.current{
	color: #fff;
	background: #707070;
}
.sec_form .box_form .flow li::before,
.sec_form .box_form .flow li::after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin: auto;
}
.sec_form .box_form .flow li::before{
	top: -10px;
	right: -10px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	border-width: 48px 0 48px 10px;
	z-index: 10;
}
.sec_form .box_form .flow li::after{
	top: 0;
	right: -8px;
	border-style: solid;
	border-color: transparent transparent transparent #C6C6C6;
	border-width: 38px 0 38px 8px;
	z-index: 10;
}
.sec_form .box_form .flow li:last-child::before,
.sec_form .box_form .flow li:last-child::after{
	display: none;
}
.sec_form .box_form .flow li.current::after{
	border-color: transparent transparent transparent #707070;
}
.sec_form .box_form .inner{
	padding: 65px 0 100px;
}
.sec_form .box_form input::-ms-clear {
	visibility:hidden
}
.sec_form .box_form input[type="text"],
.sec_form .box_form input[type="email"]{
	font-size: 2.2rem;
	height: 60px;
	background: #FFFDFF;
	border: 2px solid #C6C6C6;
	border-radius: 5px;
	padding: 0 10px;
	max-width: 350px;
	width: 100%;
}
.sec_form .box_form input[type="text"]::placeholder,
.sec_form .box_form input[type="email"]::placeholder{
	font-size: 2.2rem;
	color: #797979;
}

.sec_form .box_form input[type="text"]:-ms-input-placeholder {
	font-size: 2.2rem;
	color: #797979;
}
.sec_form .box_form input[type="text"]::-ms-input-placeholder {
	font-size: 2.2rem;
	color: #797979;
}
.sec_form .box_form input[type="email"]:-ms-input-placeholder {
	font-size: 2.2rem;
	color: #797979;
}
.sec_form .box_form input[type="email"]::-ms-input-placeholder {
	font-size: 2.2rem;
	color: #797979;
}

.sec_form .box_form .select_arw{
	max-width: 350px;
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.sec_form .box_form .select_arw.w100{
	max-width: 100%;
}
.sec_form .box_form .select_arw::before{
	content: '';
	position: absolute;
	top: 1px;
	right: 0;
	width: 60px;
	height: 60px;
	background: #bdbdbd;
	pointer-events: none;
}
.sec_form .box_form .select_arw::after{
	content: '';
	position: absolute;
	top: calc(50% - 3px);
	right: 22px;
	width: 15px;
	height: 15px;
	transform: translateY(-50%) rotate(45deg);
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	pointer-events: none;
}
.sec_form .box_form select{
	font-size: 2.2rem;
	height: 60px;
	border: 2px solid #C6C6C6;
	background: #fff;
	padding: 0 10px;
	width: 100%;
}
.sec_form .box_form textarea{
	font-size: 2.2rem;
	height: 300px;
	border: 2px solid #C6C6C6;
	background: #FFFDFF;
	border-radius: 5px;
	padding:10px;
	width: 100%;
}
.sec_form .box_form input[type="text"]:focus,
.sec_form .box_form input[type="email"]:focus,
.sec_form .box_form textarea:focus,
.sec_form .box_form select:focus{
	background: #fffef7;
}
.sec_form .box_form .label_radio{
	position: relative;
	display: inline-block;
	margin-right: 90px;
}
.sec_form .box_form .label_radio input{
	visibility: hidden;
	width: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.sec_form .box_form .label_radio span{
	font-size: 2.2rem;
	padding: 20px 0 20px 75px;
	position: relative;
	display: inline-block;
}
.sec_form .box_form .label_radio span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #C6C6C6;
}
.sec_form .box_form .label_radio span::after{
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #191919;
	opacity: 0;
}
.sec_form .box_form .label_radio input:checked + span::after{
	opacity: 1;
}
.sec_form .box_form .input+.input{
	border-top: 1px dashed #A2A2A2;
	margin-top: 40px;
	padding-top: 40px;
}
.sec_form .box_form .input dt{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.136;
	position: relative;
	padding-left: 20px;
	padding-right: 60px;
	margin-top: 64px;
	display: inline-block;
}
.sec_form .box_form .input dt .small{
	font-size: 2.2rem;
}
.sec_form .box_form .input dt:first-child{
	margin-top: 0;
}
.sec_form .box_form .input dt::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #F5A200;
	width: 7px;
	height: calc(100% + 0.3em);
}
.sec_form .box_form .input dt .req{
	font-size: 1.8rem;
	font-weight: 700;
	color: #fff;
	background: #ef2605;
	display: inline-block;
	vertical-align: middle;
	padding: 4px 10px 5px 8px;
	margin: -3px 0 0 20px;
	position: relative;
	height: 26px;
}
.sec_form .box_form .input dt .req::before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin: auto;
	top: 0;
	left: -13px;
	border-style: solid;
	border-color: transparent #ef2605 transparent transparent;
	border-width: 13px 13px 13px 0;
	z-index: 10;
}
.sec_form .box_form .input dt .req_mark{
	width: 40px;
	height: 40px;
	background: #FF6800;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
.sec_form .box_form .input dt .req_mark::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
	width: 21px;
	height: 15px;
	border-left: 5px solid #fff;
	border-bottom: 5px solid #fff;
	margin-top: -3px;
}
.sec_form .box_form .input dd{
	line-height: 1;
	margin-top: 26px;
}
.sec_form .box_form .input dd > *+*{
	margin-top: 20px;
}
.sec_form .box_form .input dd .flex{
	display: flex;
}
.sec_form .box_form .input dd .flex > *{
	width: 350px;
}
.sec_form .box_form .input dd .flex > *+*{
	margin-left: 13.5%;
}
.sec_form .box_form .input dd .label{
	font-size: 2.2rem;
	margin-bottom: 10px;
}
.sec_form .box_form .input dd .count{
	font-size: 1.4rem;
	color: #797979;
	text-align: right;
}
.sec_form .box_form .input dd .txt{
	font-size: 2.2rem;
	margin-left: 15px;
}
.sec_form .box_form .input dd .zip{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.sec_form .box_form .input dd .zip input{
	max-width: 200px;
	border-radius: 5px 0 0 5px;
}
.sec_form .box_form .input dd .zip button{
	font-size: 2.2rem;
	color: #fff;
	font-weight: 700;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #C6C6C6;
	padding: 0 10px;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	margin-right: 1em;
}
.sec_form .box_form .input dd .zip .txt{
	margin-left: 0;
	margin-right: 15px;
}
.sec_form .box_form .input dd .zi .error{
	display: block;
}
.sec_form .box_form .input dd .addr input{
	width: 100%;
	max-width: 100%;
}
.sec_form .box_form .note {
	margin-top: 108px;
}
.sec_form .box_form .note dt{
	font-size: 2.8rem;
	line-height: 1.136;
	font-weight: 700;
	position: relative;
	padding-left: 20px;
	margin-top: 40px;
}
.sec_form .box_form .note dt::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: #F5A200;
	width: 7px;
	height: calc(100% + 0.3em);
}
.sec_form .box_form .note dd{
	line-height: 2.1;
	margin-top: 10px;
	letter-spacing: 0.1em;
}
.sec_form .box_form .agree{
	margin-top: 95px;
}
.sec_form .box_form .agree .error{
	font-size: 1.5rem;
	text-align: center;
	margin-top: 5px;
}
.sec_form .box_form .agree label{
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 0.075em;
	display: block;
	border: 2px solid #e7e6de;
	border-radius: 41px;
	width: 520px;
	max-width: 100%;
	height: 82px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
}
.sec_form .box_form .agree label input{
	visibility: hidden;
	width:1px;
	position: absolute;
}
.sec_form .box_form .agree label span{
	position: relative;
	display: inline-block;
	padding-left: 30px;
}
.sec_form .box_form .agree label span::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
	border: 2px solid #c1c1c1;
}
.sec_form .box_form .agree label span::after{
	content: '';
	position: absolute;
	top: 25%;
	left: 7px;
	width: 10px;
	height: 15px;
	transform: translateY(-50%) rotate(45deg);
	border-bottom: 2px solid #191919;
	border-right: 2px solid #191919;
	opacity: 0;
}
.sec_form .box_form .agree label input:checked + span::after{
	opacity: 1;
}
.sec_form .box_form .submit{
	text-align: center;
	margin-top: 35px;
}
.sec_form .box_form .submit .btn_yellow{
	font-size: 1.6rem;
}
.sec_form .box_form .submit .btn_yellow::before{
	width: 20px;
	height: 7px;
}
@media screen and (max-width: 820px) {
	.sec_form .ttl_sec_jp br.sp{
		display: block!important;
	}
}
@media screen and (max-width: 767px) {
	.sec_form .ttl_sec_sub{
		margin-bottom: 10%;
	}
	.sec_form .box_tel .line{
		margin: 0 0 9%;
	}
	.sec_form .box_tel{
		margin-top: 6%;
	}
	.sec_form .box_tel .btn{
		margin-top: 3%;
	}
	.sec_form .box_tel .btn .btn_yellow{
		width: 80vw;
	}
	.sec_form .box_tel .btn_tel{
		margin-top: 5%;
	}
	.sec_form .box_tel .btn_tel a{
		font-size: 4.8vw;
		width: 80vw;
		max-width: 100%;
		height: 12vw;
		border-radius: 8vw;
		pointer-events: auto;
	}
	.sec_form .box_tel .btn_tel img{
		width: 6vw;
		margin-right: 3vw;
	}
	.sec_form .box_tel .time{
		font-size: 3.7vw;
		margin-top: 3%;
	}
	.sec_form .box_tel .time .red{
		display: inline-block;
		margin-top: 6%;
	}
	.sec_form .box_form{
		margin: 0 -5.5%;
	}
	.sec_form .box_form .flow .step{
		font-size: 4.8vw;
		top: -3.5vw;
		padding: 0 1em;
		border-radius: 5vw;
	}
	.sec_form .box_form .flow .step::before{
		bottom: -2.8vw;
		left: 50%;
		border: 1.5vw solid transparent;
		border-top: 1.5vw solid #FFE8BA;
	}
	.sec_form .box_form .flow li{
		font-size: 5.87vw;
		padding-top: 4%;
		height: 14.67vw;
	}
	.sec_form .box_form .flow li::before{
		top: -3vw;
		right: -3vw;
		border-width: 10.4vw 0 10.4vw 4vw;
	}
	.sec_form .box_form .flow li::after{
		top: 0;
		right: -2vw;
		border-width: 7.4vw 0 7.4vw 3vw;
	}
	.iphone .sec_form .box_form .flow li::before{
		right: -3.1vw;
	}
	.iphone .sec_form .box_form .flow li::after{
		right: -2vw;
	}
	.sec_form .box_form .inner{
		padding: 10.8% 5.5% 16.5%;
	}
	.sec_form .box_form input[type="text"],
	.sec_form .box_form input[type="email"]{
		font-size: 4.8vw;
		height: 13.3vw;
		border-radius: 1vw;
		padding: 0 1em;
		max-width: 100%;
		width: 100%;
	}
	.sec_form .box_form input[type="text"]::placeholder,
	.sec_form .box_form input[type="email"]::placeholder{
		font-size: 4.8vw;
	}
	.sec_form .box_form .select_arw{
		max-width: 100%;
		border-radius: 1vw;
	}
	.sec_form .box_form .select_arw::before{
		top: 1px;
		width: 12vw;
		height: calc(100% - 2px);
	}
	.sec_form .box_form .select_arw::after{
		top: calc(50% - 1vw);
		right: 4vw;
		width: 3.5vw;
		height: 3.5vw;
		transform: translateY(-50%) rotate(45deg);
		border-right-width: 3px;
		border-bottom-width: 3px;
	}
	.sec_form .box_form select{
		font-size: 4.8vw;
		height: 13.3vw;
		border-radius: 1vw;
		padding: 0 1em;
	}
	.sec_form .box_form textarea{
		font-size: 4.8vw;
		height: 47vw;
		border-radius: 1vw;
		padding: 1em;
	}
	.sec_form .box_form .label_radio{
		margin-right: 5vw;
	}
	.sec_form .box_form .label_radio span{
		font-size: 4.8vw;
		padding: 3vw 0 3vw 12.5vw;
	}
	.sec_form .box_form .label_radio span::before{
		width: 10.7vw;
		height: 10.7vw;
	}
	.sec_form .box_form .label_radio span::after{
		top: 2vw;
		left: 2vw;
		width: 6.7vw;
		height: 6.7vw;
	}
	.sec_form .box_form .input+.input{
		margin-top: 12%;
		padding-top: 12%;
	}
	.sec_form .box_form .input dt{
		font-size: 5.8vw;
		padding-left: 15px;
		padding-right: 11vw;
		margin-top: 16.5%;
	}
	.sec_form .box_form .input dt:first-child{
		margin-top: 0;
	}
	.sec_form .box_form .input dt::before {
		top: calc(50% + 0.04em);
		height: 100%;
	}
	.sec_form .box_form .input dt .small{
		font-size: 4.2vw;
	}
	.sec_form .box_form .input dt .req{
		font-size: 4.8vw;
		font-weight: 700;
		padding: 0.32em 0.5em 0 0.5em;
		margin: -0.2em 0 0 4vw;
		height: 8vw;
	}
	.sec_form .box_form .input dt .req::before{
		left: -2.61vw;
		border-width: 4vw 2.6vw 4vw 0;
	}
	.iphone .sec_form .box_form .input dt .req::before{
		left: -2.5vw;
	}
	.sec_form .box_form .input dt .req_mark{
		width: 8vw;
		height: 8vw;
		margin-left: 3vw;
	}
	.sec_form .box_form .input dt .req_mark::before{
		width: 4.2vw;
		height: 3.4vw;
		border-left-width: 1.2vw;
		border-bottom-width: 1.2vw;
		margin-top: -0.5vw;
	}
	.sec_form .box_form .input dd{
		margin-top: 4%;
	}
	.sec_form .box_form .input dd > *+*{
		margin-top: 4%;
	}
	.sec_form .box_form .input dd .flex{
		display: block;
	}
	.sec_form .box_form .input dd .flex > *{
		width: auto;
	}
	.sec_form .box_form .input dd .flex > *+*{
		margin-left: 0;
		margin-top: 3%;
	}
	.sec_form .box_form .input dd .label{
		font-size: 4.8vw;
		margin-bottom: 1%;
	}
	.sec_form .box_form .input dd .count{
		font-size: 3.7vw;
	}
	.sec_form .box_form .input dd .nyugaku input{
		max-width: calc(100% - 2em);
	}
	.sec_form .box_form .input dd .txt{
		font-size: 4.8vw;
		margin-left: .5em;
	}
	.sec_form .box_form .input dd .zip{
		flex-wrap: wrap;
	}
	.sec_form .box_form .input dd .zip .txt{
		margin-right: 0.5em;
	}
	.sec_form .box_form .input dd .zip input{
		width: 39vw;
		max-width: 100%;
	}
	.sec_form .box_form .input dd .zip button{
		font-size: 4.8vw;
		width: 33.8vw;
		height: 13.3vw;
		padding: 0;
		border-radius: 0 1vw 1vw 0;
		margin-right: 0;
	}
	.sec_form .box_form .input dd .zip .error{
		display: block;
	}
	.sec_form .box_form .note{
		margin-top: 16%;
	}
	.sec_form .box_form .note dt{
		font-size: 4.6vw;
		padding-left: 15px;
		margin-top: 7%;
	}
	.sec_form .box_form .note dt::before {
		height: calc(100% - 0em);
	}
	.sec_form .box_form .note dd{
		font-size: 3.2vw;
		line-height: 1.58;
		margin-top: 2%;
	}
	.sec_form .box_form .agree{
		margin-top: 18%;
	}
	.sec_form .box_form .agree .error{
		font-size: 3vw;
		margin-top: 1.5%;
	}
	.sec_form .box_form .agree label{
		font-size: 4.8vw;
		text-align: center;
		line-height: 1.1;
		border-width: 1px;
		border-radius: 8vw;
		width: 100%;
		height: 16vw;
	}
	.sec_form .box_form .agree label span{
		padding-left: 8vw;
	}
	.sec_form .box_form .agree label span::before{
		width: 6.4vw;
		height: 6.4vw;
	}
	.sec_form .box_form .agree label span::after{
		top: 45%;
		left: 1.5vw;
		width: 3vw;
		height: 3.7vw;
	}
	.sec_form .box_form .submit{
		margin-top: 6%;
	}
}


/* confirm
--------------------------------*/
.sec_confirm .box_form .inner{
	padding-top: 35px;
}
.sec_confirm .box_form .inner .inner{
	padding: 0;
}
.sec_confirm .box_form .input{
	margin-top: 55px;
}
.sec_confirm .box_form .input+.input{
	margin-top: 50px;
	padding-top: 0;
	border-top: 0;
}
.sec_confirm .box_form .input dd{
	font-size: 2.2rem;
	line-height: 1.875;
	margin-top: 30px;
	margin-left: 25px;
	padding-left: 1em;
	padding-bottom: 15px;
	border-bottom: 2px solid #C6C6C6;
}
.sec_confirm .box_form .input dd p{
	font-size: 2.2rem;
}
.sec_confirm .box_form .input dd > *+*{
	margin-top: 0;
}
.sec_confirm .box_form .submit{
	margin-top: 90px;
}
.sec_confirm .box_form .submit button+button{
	margin-top: 35px;
}
.sec_confirm .box_form .submit .back{
	border: 2px solid #C3C3C3;
	background: #fff;
}
.sec_confirm .box_form .submit .back::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 35px;
	width: 17px;
	height: 7px;
	border-bottom: 1px solid #191919;
	border-right: 0;
	border-left: 1px solid #191919;
	transform: skew(135deg) translateY(-50%);
}
.sec_confirm .box_form .input dt .req{
	display: none;
}
.sec_confirm .box_form .input dd .label{
	display: none;
}
.sec_confirm .box_form .select_arw::before,
.sec_confirm .box_form .select_arw::after{
	display: none;
}
.sec_confirm .box_form .count{
	display: none;
}
.sec_confirm .box_form .agree{
	display: none;
}
.sec_confirm .box_form .note,
.sec_confirm .box_form .input dd .zip button{
	display: none;
}
.sec_confirm .box_form .select_arw{
	max-width: 100%;
}
@media screen and (max-width: 767px) {
	.sec_confirm .box_form .inner{
		padding-top: 6%;
	}
	.sec_confirm .box_form .input{
		margin-top: 7%;
	}
	.sec_confirm .box_form .input+.input{
		margin-top: 50px;
		padding-top: 0;
		border-top: 0;
	}
	.sec_confirm .box_form .input dd{
		line-height: 1.417;
		font-size: 4.8vw;
		margin-top: 5%;
		margin-left: 15px;
		padding-left: 0.5em;
		padding-bottom: 2%;
	}
	.sec_confirm .box_form .input dd p{
		font-size: 4.8vw;
	}
	.sec_confirm .box_form .input dd > *+*{
		margin-top: 0;
	}
	.sec_confirm .box_form .submit{
		margin-top: 17%;
	}
	.sec_confirm .box_form .submit button+button{
		margin-top: 6%;
	}
	.sec_confirm .box_form .submit .back{
		border: 2px solid #C3C3C3;
		background: #fff;
		height: 16vw;
	}
	.sec_confirm .box_form .submit .back::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 35px;
		width: 17px;
		height: 7px;
		border-bottom: 1px solid #191919;
		border-right: 0;
		border-left: 1px solid #191919;
		transform: skew(135deg) translateY(-50%);
	}
}


/* thanks
--------------------------------*/
.sec_thanks{
	padding-bottom: 0;
}
.sec_thanks .box_form .inner{
	padding-top: 35px;
	padding-bottom: 0;
}
@media screen and (max-width: 767px) {
	.sec_confirm .box_form .inner{
		padding-top: 6%;
	}
}

/* department_opencampus
--------------------------------*/
.sec_department_opencampus .other_link {
	max-width: 560px;
	margin: 0 auto 40px;
}
.sec_department_opencampus .list li {
    max-width: 250px;
}
.sec_department_opencampus .list li a {
    display: block;
}
.sec_department_opencampus .list .img {
    position: relative;
    width: 96%;
}
.sec_department_opencampus .list .img::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid #95d0c2;
}
.sec_department_opencampus .list .img img {
    position: relative;
    z-index: 1;
}
.sec_department_opencampus .list p {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1;
	text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}
@media screen and (max-width: 767px) {
	.sec_department_opencampus .other_link {
		max-width: inherit;
		margin-bottom: 5%;
	}
	.sec_department_opencampus .list li {
		max-width: inherit;
	}
	.sec_department_opencampus .list p {
		font-size: 3.2vw;
    	line-height: 1.5;
		margin-top: 8%;
	}

}


/* sec_guide
--------------------------------*/
.sec_guide .work{
	font-size: 1.3rem;
	background: #F7F7F7;
	border-radius: 2px;
	padding: 20px;
	margin-top: 40px;
}
.sec_guide .box_work{
	max-width: 520px;
	margin: 40px auto 0;
}
.sec_guide .box_work .box_img{
	position: relative;
}
.sec_guide .box_work .box_img .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.sec_guide .box_work .box_img .ttl{
	font-size: 2.6rem;
	font-weight: 700;
	color: #fff;
	line-height: 1.38;
	text-align: center;
}
.sec_guide .box_work .txt{
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	font-weight: 700;
	line-height: 1.56;
	margin-bottom: 20px;
}
.sec_guide .box_work .btn{
	margin-top: 20px;
}
.sec_guide .box_work .btn_type1{
	height: 60px;
}
@media screen and (max-width: 767px) {
	.sec_guide .work{
		font-size: 3.2vw;
		border-radius: 1vw;
		padding: 8%;
		margin-top: 6%;
	}
	.sec_guide .box_work{
		max-width: 100%;
		margin: 16% auto 0;
	}
	.sec_guide .box_work .box_img .ttl{
		font-size: 4.8vw;
		line-height: 1.38;
	}
	.sec_guide .box_work .txt{
		font-size: 3.2vw;
		margin-bottom: 4%;
	}
	.sec_guide .box_work .btn{
		margin-top: 6%;
	}
	.sec_guide .box_work .btn_type1{
		height: 12vw;
	}
}

.sec_department_opencampus .list .img::before {
	border: 3px solid #F5A200;
}
.sec_confirm .inner {
	padding-bottom: 0 !important;
}
.sec_confirm .box_form .submit {
	margin-top: 50px !important;
}
/*
@media screen and (max-width: 767px) {
	.sec_form .box_form .input dt {
		padding-right: 0px;
	}
}
*/

@media screen and (max-width: 769px) and (min-width: 768px) {
	.sec_department_opencampus .ttl_sec_sub .line .sp {
		display: block !important;
	}
}