@charset "UTF-8";

/* sec_ttl
--------------------------------*/
.sec_ttl_bg::after{
	background-image: url(../img/about/howto/ttl_bg.jpg);
}

/* sec_intro
--------------------------------*/
.howto_btn {
    margin-top: 40px;
}
.howto_btn li{
	line-height: 100%;
}
.howto_btn li:nth-child(n+4) {
    margin-top: 15px;
}
.howto_btn li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #F5A200;
    position: relative;
    height: 65px;
    text-align: center;
}
.howto_btn li a::after {
    content: '';
    width: 7px;
    height: 14px;
    background: url(../img/common/icon_anchor.svg) no-repeat center /contain;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

@media screen and (min-width: 768px){
	.grid3 {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.grid3 > * {
		width: 32%;
		margin-right: 2%;
	}
	.grid3 > *:nth-child(3n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 767px) {
	.howto_btn li{
		margin-top: 2.5%;
	}
	.howto_btn li:nth-child(n+4) {
		margin-top: 2.5%;
	}
	.howto_btn li a {
		font-size: 3.6vw;
		height: 12.4vw;
		line-height: 1.2;
	}
	.howto_btn li a::after {
		width: 1.5vw;
		height: 3.2vw;
		right: 4%;
	}
}

/* sec_howto
--------------------------------*/
.sec_howto .graph{
	border: solid 5px #FFEFCE;
}
.sec_howto .graph .ttl {
    font-size: 2.2rem;
	font-weight: 400;
    text-align: center;
    padding: 5px 0;
    background-color: #FFEFCE;
}
.sec_howto .graph .img{
	padding: 20px 0;
	text-align: center;
}
.sec_howto .graph+p+p{
	font-size: 2.2rem;
	font-weight: 700;
	background: #F7F7F7;
	text-align: center;
	margin-top: 40px;
	padding: 20px 0;
    line-height: 1.6;
	margin-bottom: 80px;
}
.sec_howto .top3{
	font-size: 2.8rem;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}
.sec_howto .cheer .img{
	text-align: center;
}
.sec_howto .jobmap .img{
	text-align: center;
}
.sec_howto .cheer .txt,
.sec_howto .jobmap .txt{
	margin-top: 30px;
}
@media screen and (max-width: 767px) {
	.sec_howto .graph .ttl {
		font-size: 5.9vw;
		padding: 1.4% 0;
	}
	.sec_howto .graph .img {
		padding: 5%;
	}
	.sec_howto .graph+p {
		font-size: 4.7vw;
		margin-top: 8.3%;
		padding: 7% 0;
		font-weight: bold;
	}
	.sec_howto .cheer .img:nth-of-type(1) {
		margin-bottom: 8%;
	}
	.sec_howto .top3{
		font-size: 4.7vw;
		margin-top: 6%;
		margin-bottom: 3%;
	}
	.sec_howto .cheer .txt,
	.sec_howto .jobmap .txt{
		margin-top: 4%;
	}
}

/* sec_course
--------------------------------*/
.sec_course .ttl_line{
	font-size: 2.8rem;
	font-weight: 700;
	text-align: center;
	position: relative;
	padding: 0 1em;
}
.sec_course .ttl_line::before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 2px;
	background: #95D0C2;
}
.sec_course .ttl_line.design::before{
	background: #FF053A;
}
.sec_course .ttl_line.technical::before{
	background: #E94C2B;
}
.sec_course .ttl_line.stylist::before{
	background: #2A6FE6;
}
.sec_course .ttl_line.business::before{
	background: #00BDE6;
}
.sec_course .ttl_line span{
	display: inline-block;
	background: #fff;
	position: relative;
	z-index: 1;
	padding: 0 0.5em;
}
.sec_course .list .img{
	margin-top: 25px;
}
.sec_course .list .txt{
	line-height: 1.5;
	text-align: center;
	margin-top: 20px;
}
.sec_course .list .btn{
	margin-top: 20px;
}
.sec_course .list .btn_type1{
	height: 60px;
}
@media screen and (max-width: 767px) {
	.sec_course:not(:last-child){
		padding-bottom: 11%;
	}
	.sec_course .ttl_line{
		font-size: 4.8vw;
		padding: 0 1em;
	}
	.sec_course .ttl_line::before{
		height: 1px;
	}
	.sec_course .ttl_line span{
		display: inline-block;
		background: #fff;
		position: relative;
		z-index: 1;
		padding: 0 0.5em;
	}
	.sec_course .list .img{
		margin-top: 5%;
	}
	.sec_course .list .txt{
		margin-top: 4%;
	}
	.sec_course .list .btn{
		margin-top: 4%;
	}
	.sec_course .list .btn_type1{
		height: 12vw;
	}
}

/* sec_flow
--------------------------------*/
.sec_flow .list li::after{
	content: "";
	background: url(../img/about/howto/arrow.png) no-repeat;
	background-size: contain;
	background-position: center;
	display: block;
	height: 44px;
	margin: 20px 0;
}
.sec_flow .list li:last-child::after{
	content: none;
}
.sec_flow .list li dl{
	border: 1px solid #E5E5E5;
}
.sec_flow .list li:last-child dl{
	border: none;
}
.sec_flow .list li dt{
	font-size: 2rem;
	font-weight: 700;
	background: #FFEFCE;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #E5E5E5;
}
.sec_flow .list li dd{
	padding: 30px 30px 44px;
}
.sec_flow .list li dd p{
	padding: 0 25px;
}
.sec_flow .list .bdwrap{
	border: none;
}
.sec_flow .list .bdwrap div{
	border: 5px solid #FFEFCE;
	padding: 39px;
}
.sec_flow .list .bdwrap p{
	font-size: 2.2rem;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}
.sec_flow .list li .large{
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
}
.sec_flow .list li dd .txt{
	margin-top: 12px;
}

.sec_flow .list li dd .hr{
	border-bottom: 1px dotted rgba(162,162,162,0.4);
	padding-bottom: 44px;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.sec_flow .list li::after {
		height: 8.7vw;
		margin: 6% 0;
	}
	.sec_flow .list li dt {
		font-size: 3.1vw;
		padding: 2.6% 0;
	}
	.sec_flow .list li dd p {
		padding: 0;
		font-size: 3.7vw;
	}
	.sec_flow .list li dd .txt {
		font-size: 2.8vw;
		text-align: left;
		line-height: 1.8;
		margin-top: 4.8%;
	}
	.sec_flow .list li dd{
		padding: 7% 6.5% 12%;
	}
	.sec_flow .list .bdwrap div{
		border: 10px solid #FFEFCE;
		padding: 7%;
	}
	.sec_flow .list .bdwrap p {
		font-size: 3.2vw;
		margin-top: 5%;
	}
	.sec_flow .list li .large {
		font-size: 7.8vw;
		line-height: 1.3;
		margin: 0;
	}
}


/* sec_other
--------------------------------*/
.sec_other .other_link {
	max-width: 560px;
	margin: 0 auto 40px;
}
.sec_other .list li {
    max-width: 250px;
}
.sec_other .list li a {
    display: block;
}
.sec_other .list .img {
    position: relative;
    width: 96%;
}
.sec_other .list .img::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 3px solid #F5A200;
}
.sec_other .list .img img {
    position: relative;
    z-index: 1;
}
.sec_other .list p {
	font-size: 1.8rem;
	font-weight: normal;
	line-height: 1;
	text-align: center;
    margin-top: 20px;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
	.sec_other .other_link {
		max-width: inherit;
		margin-bottom: 5%;
	}
	.sec_other .list li {
		max-width: inherit;
	}
	.sec_other .list p {
		font-size: 3.2vw;
    	line-height: 1.5;
		margin-top: 8%;
	}

}

/* Additional style */

.ttl_22 {
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 700;
}
.sec_other .line {
	font-weight: normal !important;
}
ul.list p.ttl_22 {
	text-align: center;
}
.howto_btn li a {
	max-width: 350px;
}
.sec_intro p {
	font-size: 2.4rem;
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
}
.sec_howto .graph+p {
	text-align: center;
	margin-top: 30px;
	font-size: 1.4rem;
}
.jobmap p.txt {
	font-size: 2.4rem;
    font-weight: 700;
    background: #F7F7F7;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    line-height: 1.6;
	max-width: 840px;
	margin-right: auto;
	margin-left: auto;
}
.jobmap div.img {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.jobmap div.img img {
	height: fit-content;
}

.cheer .txt {
	font-size: 2.4rem;
	font-weight: bold;
	max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}
.graph .ttl, .bdwrap p.large+p {
	font-weight: bold !important;
}
@media screen and (min-width: 768px) {
	.sec_intro ul.grid2 {
		justify-content: center;
	}
	.sec_intro ul.grid2 > * {
		max-width: 350px;
		width: 48%;
    	margin-right: 2%;
	}
	.sec_intro ul.grid2 li:last-child {
		margin-top: 20px !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	#oshigoto-map > div > div > img:nth-child(1),
	#oshigoto-map > div > div > img:nth-child(3) {
		width: 46%;
	}
	.jobmap div.img img:nth-child(1),
	.jobmap div.img img:nth-child(3) {
		margin:0 2% !important;
	}
}

@media screen and (max-width: 767px) {
	
	
	
	
	
	
	
	
	
	
	
	,
	 .cheer .line {
		font-weight: bold !important;
	}
	.jobmap div.img img:nth-child(2) {
		margin-bottom: 40px !important;
	}
	.howto_btn {
		margin-top: 9%;
	}
	.howto_btn li a {
		max-width: initial;
		margin-left: auto;
    	margin-right: auto;
	}
	.sec_howto .cheer .txt, .sec_intro p {
	text-align: left;
	}
	.sec_howto .cheer .txt, .sec_intro .ttl_page+p {
		font-size: 3.2vw;
		font-weight: normal;
	}
	.sec_howto .jobmap .txt {
		margin-top: 10%;
		font-size: 4.8vw;
	}
	.sec_howto .cheer .txt {
		margin-top: 10%;
		font-size: 1vw;
	}
	#top3 .ttl_sec_sub:nth-child(2) {
		margin-bottom: 6vw;
	}
	.sec_howto .graph+p+p+h3.ttl_sec_sub {
		margin-bottom: 8vw;
	}
	.sec_howto .graph+p+p+h3.ttl_sec_sub .line {
		/*font-weight: normal !important;*/
	}
	.sec_howto .graph+p {
		margin-top: 0;
	}
	#top3 > div > h3:nth-child(5) {
		font-weight: bold !important;
	}
}