@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd,
table, th, td, img, form, caption {
	font-family: "M PLUS 1p", "Mplus 1p", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

input, button, textarea, select {
	font-family: "M PLUS 1p", "Mplus 1p", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

/* フォント
--------------------------------*/
.text-notes::before {
	color: #f5a100;
}

.text-block-school {
	background: rgba(245, 161, 0, 0.4);
}

/* section
--------------------------------*/
.sec_contents a {
	color: #f5a100;
}

/* 見出し
--------------------------------*/
.sec_contents h1::before {
	background: #f5a100;
}
.sec_contents h2 {
	border-top-color: #f5a100;
	border-bottom-color: #f5a100;
}
.sec_contents h3 span {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(85%, #f5a100)) 0 -5px;
	background: linear-gradient(transparent 85%, #f5a100 85%) 0 -5px;
}

.container .headline-1-1::before {
	background: #f5a100;
}
.container .headline-2-1 {
	border-top-color: #f5a100;
	border-bottom-color: #f5a100;
}
.container .headline-2-2::before {
	background: #f5a100;
}
.container .headline-2-3 {
	border-bottom-color: #f5a100;
}
.container .headline-3-1 span {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(85%, #f5a100)) 0 -5px;
	background: linear-gradient(transparent 85%, #f5a100 85%) 0 -5px;
}
.container .tag-headline-3-1 span {
	background: #f5a100;
}
.container .headline-3-3 {
	background: #f5a100;
	-webkit-box-shadow: 0px 0px 0px 5px #f5a100;
	        box-shadow: 0px 0px 0px 5px #f5a100;
}
.container .headline-3-3::after {
	border-color: #f5a100 #fff #f5a100;
}
.container .headline-4-2::before {
	background: #f5a100;
}

@media screen and (max-width: 767px) {
	.sec_contents h3 span {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(85%, #f5a100)) 0 0;
		background: linear-gradient(transparent 85%, #f5a100 85%) 0 0;
	}

	.container .headline-3-1 span {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(85%, #f5a100)) 0 0;
		background: linear-gradient(transparent 85%, #f5a100 85%) 0 0;
	}
}
/* ブロック
--------------------------------*/
.block-line {
	border-color: rgba(245, 161, 0, 0.4);
}

.block-bg100 {
	background: rgba(245, 161, 0, 0.4);
}

.block-gray-line-headline {
	background: rgba(245, 161, 0, 0.4);
}

/* リスト
--------------------------------*/
.sec_contents ul > li:before {
	color: #f5a100;
}
.sec_contents ol > li::before {
	color: #f5a100;
}

/* 画像
--------------------------------*/
.image-bg-line .image::before {
	border-color: #f5a100;
}

/* ボタン
--------------------------------*/
.btn-black a,
.btn-white a,
.btn-school a {
	color: #fff;
}

.btn-white a {
	color: #191919;
}

.btn-arw a {
	color: #fff;
}
.btn-arw a::before {
	background-color: #f5a100;
}

.btn-fashion a {
	color: #191919;
}

.btn-kimono a {
	color: #191919;
}

.btn-seika a {
	color: #191919;
}

.btn-houjin a {
	color: #191919;
}

.anchor-link-1 a {
	color: #191919;
	background-color: #f5a100;
}

.anchor-link-2 a {
	color: #191919;
	background-color: #f5a100;
}

/* pagination
--------------------------------*/
.pagination-list li a.this,
.pagination-single li a.this {
	background-color: #f5a100;
}

/* 表
--------------------------------*/
.table-1 table th {
	background: rgba(245, 161, 0, 0.4);
}

.table-2 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-2 table thead th {
	background: #f5a100;
}

.table-3 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-3 table thead th {
	background: #f5a100;
}

.table-4 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-4 table tr:first-child th {
	background: #f5a100;
}

.table-5 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-5 table tr:first-child th {
	background: #f5a100;
}

.table-6 table th,
.table-6 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-6 table tr:first-child th {
	background: #f5a100;
}

.table-7 table caption {
	background: #f5a100;
}
.table-7 table th {
	background: rgba(245, 161, 0, 0.4);
}

.table-8 table caption {
	background-color: #f5a100;
}
.table-8 table th {
	background: #f5a100;
}
.table-8 table tbody th {
	background: rgba(245, 161, 0, 0.4);
}

.table-9 table th {
	background: rgba(245, 161, 0, 0.4);
}

.table-10 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-10 table thead th {
	background: #f5a100;
}

.table-11 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-11 table thead th {
	background: #f5a100;
}

.table-12 table th {
	background: rgba(245, 161, 0, 0.4);
}
.table-12 table thead th {
	background: #f5a100;
}

@media screen and (max-width: 767px) {
	.table-4 table th {
		background: rgba(245, 161, 0, 0.4);
	}

	.table-10 table th {
		background: rgba(245, 161, 0, 0.4);
	}
}
/* アコーディオン
--------------------------------*/
.acd-headline {
	background: #f5a100;
}

/* その他
--------------------------------*/
.icon-arw-m::before {
	border-top-color: #f5a100;
}

.icon-arw-s::before {
	border-top-color: #f5a100;
}

/* よくある質問
--------------------------------*/
.question-area .q-title {
	color: #f5a100;
}

.answer-area .a-title {
	color: #f5a100;
}

/* ニュース
--------------------------------*/
.news-list .img::before {
	border-color: #f5a100;
}

/* 高校生コーディネート
--------------------------------*/
.coordinate-list .img a::before {
	background-color: #f5a100;
}

/* セレクト
--------------------------------*/
.category-select .select_box .btn::before {
	background-color: #f5a100;
}
.category-select .select_box .btn::after {
	background-image: url(../img/common/arrow_under.svg);
}

.p-index-buttons .p-txt::before {
	background-color: #f5a100;
}

/* colorbox
--------------------------------*/
.voice-modal {
	padding: 40px 60px;
}
.voice-modal > * + * {
	margin-top: 20px;
}

#cboxContent {
	margin-top: 112px;
}

#cboxClose {
	top: -112px;
	width: 92px;
	height: 92px;
	background: url(../img/common/modal/close.jpg) no-repeat center center/contain !important;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

#cboxClose:hover {
	opacity: 0.7;
}

@media screen and (max-width: 767px) {
	.voice-modal {
		padding: 5.3vw;
	}
	.voice-modal > * + * {
		margin-top: 3vw;
	}

	#cboxContent {
		margin-top: 18vw;
	}

	#cboxClose {
		top: -18vw;
		width: 14.9vw;
		height: 14.9vw;
	}
}
.p-col-set {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(100% + 10px);
	-webkit-box-lines: multiple;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.p-no-gutter {
	width: 100%;
}

.p-col1-2 {
	width: calc(100% / 2 - 10px);
}

.p-col1-3 {
	width: calc(100% / 3 - 10px);
}

.p-col2-3 {
	width: calc(100% / 3 * 2 - 10px);
}

.p-col1-4 {
	width: calc(100% / 4 - 10px);
}

.p-col3-4 {
	width: calc(100% / 4 * 3 - 10px);
}

.p-col1-5 {
	width: calc(100% / 5 - 10px);
}

.p-col1-6 {
	width: calc(100% / 6 - 10px);
}

.p-no-gutter > .p-col1-2 {
	width: calc(100% / 2);
}

.p-no-gutter > .p-col1-3 {
	width: calc(100% / 3);
}

.p-no-gutter > .p-col2-3 {
	width: calc(100% / 3 * 2);
}

.p-no-gutter > .p-col1-4 {
	width: calc(100% / 4);
}

.p-no-gutter > .p-col3-4 {
	width: calc(100% / 4 * 3);
}

.p-no-gutter > .p-col1-5 {
	width: calc(100% / 5);
}

.p-no-gutter > .p-col1-6 {
	width: calc(100% / 6);
}

.p-col1-2,
.p-col1-3,
.p-col2-3,
.p-col1-4,
.p-col3-4,
.p-col1-5,
.p-col1-6 {
	margin-right: 10px;
}

.p-no-gutter > .p-col1-2,
.p-no-gutter > .p-col1-3,
.p-no-gutter > .p-col2-3,
.p-no-gutter > .p-col1-4,
.p-no-gutter > .p-col3-4,
.p-no-gutter > .p-col1-5,
.p-no-gutter > .p-col1-6 {
	margin-right: 0;
}

.p-col-set.p-panels {
	width: calc(100% + 30px);
}

.p-col-set.p-panels .p-col1-2 {
	width: calc(100% / 2 - 30px);
}

.p-col-set.p-panels .p-col1-3 {
	width: calc(100% / 3 - 30px);
}

.p-col-set.p-panels .p-col2-3 {
	width: calc(100% / 3 * 2 - 30px);
}

.p-col-set.p-panels .p-col1-4 {
	width: calc(100% / 4 - 30px);
}

.p-col-set.p-panels .p-col3-4 {
	width: calc(100% / 4 * 3 - 30px);
}

.p-col-set.p-panels .p-col1-5 {
	width: calc(100% / 5 - 30px);
}

.p-col-set.p-panels .p-col1-6 {
	width: calc(100% / 6 - 30px);
}

.p-col-set.p-panels .p-col1-2,
.p-col-set.p-panels .p-col1-3,
.p-col-set.p-panels .p-col2-3,
.p-col-set.p-panels .p-col1-4,
.p-col-set.p-panels .p-col3-4,
.p-col-set.p-panels .p-col1-5,
.p-col-set.p-panels .p-col1-6 {
	margin-right: 30px;
}

@media screen and (max-width: 767px) {
	.p-col1-2,
.p-col1-3,
.p-col2-3,
.p-col1-4,
.p-col3-4,
.p-col1-5,
.p-col1-6 {
		width: calc(100% - 15px);
		margin-right: 15px;
	}

	.p-no-gutter > .p-col1-2,
.p-no-gutter > .p-col1-3,
.p-no-gutter > .p-col2-3,
.p-no-gutter > .p-col1-4,
.p-no-gutter > .p-col3-4,
.p-no-gutter > .p-col1-5,
.p-no-gutter > .p-col1-6 {
		width: 100%;
	}

	.p-sp-col1-2 {
		width: calc(50% - 15px);
	}

	.p-no-gutter > .p-sp-col1-2 {
		width: 50%;
	}

	.p-col-set.p-panels {
		width: calc(100% + 15px);
	}

	.p-col-set.p-panels .p-col1-2,
.p-col-set.p-panels .p-col1-3,
.p-col-set.p-panels .p-col2-3,
.p-col-set.p-panels .p-col1-4,
.p-col-set.p-panels .p-col3-4,
.p-col-set.p-panels .p-col1-5,
.p-col-set.p-panels .p-col1-6 {
		width: calc(100% - 15px);
		margin-right: 15px;
	}

	.p-col-set.p-panels .p-sp-col1-2 {
		width: calc(50% - 15px);
	}

	.p-frame .p-col-set,
.p-box .p-col-set {
		width: calc(100% + 15px);
		margin-left: 0;
	}
}
.p-index-buttons .p-txt::before {
	background-color: #f5a100;
}

/* 詳細ページ
--------------------------------*/
.post-info-date .tag {
	background: #f5a100;
	border-color: #f5a100;
}

/* 卒業生VOICE
--------------------------------*/
.anchor-link-voice li a {
	background-color: #f5a100;
}

.anchor-link-voice li a::after {
	background-image: url(../img/common/icon_anchor.svg);
}

/* コラム
--------------------------------*/
.post-column-contents h3 {
	background: #f5a100;
	-webkit-box-shadow: 0px 0px 0px 5px #f5a100;
	        box-shadow: 0px 0px 0px 5px #f5a100;
	color: #454545;
}
.post-column-contents h3::after {
	border-color: #f5a100 #fff #f5a100;
}

/* breadcrumb
--------------------------------*/
.sec_breadcrumb .list li {
	color: #f5a100;
}

/* お問い合わせ
--------------------------------*/
.sec_form .box_form .flow .step {
	color: #191919;
	background: #FFE8BA;
}

.sec_form .box_form .flow .step::before {
	border-color: transparent;
	border-top-color: #FFE8BA;
}

.sec_form .box_form .input dt::before {
	background: #f5a100;
}

.sec_form .box_form .note dt::before {
	background: #f5a100;
}

.sec_form .box_form .submit .btn_blue {
	background: #f5a100;
}